/* general styles */
html {
    background-color: black;
}
body {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 375px;
    height: 812px;
    font-family: sans-serif;
    background-color: #EBF0F2; /* #EFF3F4 */
    position: relative;
}
.heroContainer {
    width: 375px;
}
.heroImage {
    width: 100%;
}
.centeredBodyCopy {
    text-align: center;
    font-weight: 100;
    color: #103252;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
}
a {
    text-decoration: none;
 }
 a:visited {
    color: #EFF3F4;
 }
 .profileHeading {
     margin: 30px;
 }

 h2 {
     color: #103252;
     font-weight: 100;
     font-size: 36px;
     margin-top: 0px;
     Margin-bottom: 10px;
 }
 h3 {
    color: #103252;
    font-weight: 100;
    font-size: 26px;
    margin: 30px;
 }
 h4 {
     color: white;
     font-weight: 100;
     margin-top: 8px;
     font-size: 12px;
 }
.profileContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 490px;
    
}
.topContent {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}
.logoContainer{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    margin-bottom: 20px;
}
.logo {
    width: 90%; 
}
/* form styles */
.formsContainer{
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.formUnit{
    width: 380px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
      
}
.userContent{
    color:  #103252;
}
.formField {
    background-color: white;
    width: 90%;
    
    
    padding-left: 10px;  
}
.formField p {
    color: #CDCDCD;
}
.formFieldWcontent {
    background-color: white;
    width: 90%;
    height: 50px;
    padding-left: 10px;
}
.formFieldWcontent p {
    color: #103252;  
}
.formLabel {
    width: 100%;
    margin-left: 28px;  
}
.formLabel p {
    color:  #103252;
    margin-bottom: 2px; 
    font-size: 12px;
}
/* button styles */
button {
    width: 180px;
    height: 64px;
    border-radius: 20px;
    margin: 20px;
    background-color: #EFF3F4;
    border-color: #103252;
    font-size: 24px; 
    box-shadow: 4px 4px 8px #B1B1B1;
    border-style: solid;
    border-width: 1px;
    color: #103252;
}
.inactiveGhostBtn {
    color: #CDCDCD;
    border-color: #CDCDCD;
    box-shadow: none;
}
.signInButton {
    
   
}
.signUpButton {
    background-color: #103252;
    color: #EFF3F4;   
}

.activeGhostBlue {
    color: #103252;
}

.homePageActiveGhost a {
    color: #103252;
    
}
.progressDots {
  position: absolute;
  bottom: 80px;
   width: 50px;
    
}
.buttonAbsoluteBottom {
  position: absolute;
  bottom: 110px;
  

}
/* footer styles */
footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #103252;
    align-items: center;
    height: 80px;
    width: 375px;
    border-radius: 30px 30px 0px 0px ;
    position: absolute;
    bottom: 0;
    box-shadow: 0px -2px 4px #B1B1B1;
    
}
.icons {
    width: 24px;
    margin-top: 16px;
}
.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.topLine {
    margin: 0px;
    width: 30px;
    height: 4px;
    background-color: #ffffff;
    border: none;
}
/* card styles */
.cardContainer {
display: flex;
align-items: center;
flex-direction: column;
align-items: center;

}

.card {
background-color: white;
width: 95%;
border-radius: 30px;
box-shadow: 4px 4px 8px #B1B1B1;
margin-top: 10px;
margin-bottom: 10px;
padding-bottom: 20px;

}

.card p {
    margin: 80px;
    
}
li {
    margin: 10px;
    color: #103252;
}
.bottomCard {
    margin-bottom: 100px;
}
/* results page */
#resultsPage{
    height: 812px;
    overflow: hidden;
}
.resultsPageContent {
    
    overflow: scroll;
}
